<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pra onde vou</title>
</head>
<body>
    <form action="/pontos" method="post">
        <input placeholder="CEP" type="text">
        <input placeholder="Número" type="text">
        <input placeholder="Bairro" type="text">
        <input placeholder="Estado" type="text">
        <input placeholder="Nome da localidade" type="text">
        <input placeholder="Longetidade" type="text">

        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>